body{
    background-color: black;
    color: white;
}

div#topbar{
    display: flex;
    justify-content: space-between;
}

h1,h2,h3{
    font-family: 'Cinzel', 'Times New Roman', Times, serif;
    color: white;
}

.glow{
    text-shadow: 0 0 10px whitesmoke;
}

.font{
    position: absolute;
    font-family: 'Cinzel', 'Times New Roman', Times, serif;
}

p{
    color: white;
}

div.header{
    background-color: rgb(50, 50, 50);
    border-color: white;
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    cursor: grab;
}

#interactButtons{
    display: flex;
}

div.window{
    padding: 4px 4px 4px 4px;
    border: solid;
    border-color: white;
    width: 50%;
    border-radius: 8px;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%);
    user-select: none;
}

.invisible{
    display: none;
}

.closeBtn{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}


.minimizeBtn{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow;
}

.fullscreenBtn{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
}

#desktop{
    display: flex;
}

div.icon{
    width: 128px;
    height: 128px;
    border-radius: 16px;
    border-style: solid;
    border-color: white;
}

div.icon:hover{
    cursor: pointer;
}

div.selected{
    background-color: rgb(30, 30, 30) !important;
}

.notesapp{
    display: flex;
    flex-direction: row;
    height: 500px;
}

.notes{
    width: 80%;
}

.sidebar{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 12px;
    width: 20%;
    margin: 6px;
    padding: 10px;
    border: 2px white solid;
    overflow-y: auto;
}

.sidebarItem{
    border: 1px gray solid;
    border-radius: 5px;
    padding: 5px;
    justify-items: center;
}

.selectedSidebarItem{
    background-color: gray;
    border-radius: 5px;
    padding: 5px;
    justify-items: center;
}

#dateElement{
    font-size: 8px;
}
#dateElement,h4{
    margin: 1px;
}

.topbar{
    background-color: grey;
    height: 10%;
    border-radius: 2px;
    justify-items: center;
    padding: 10px;
}

#noteText{
    border: 2px gray solid;
    border-radius: 5px;
    height:inherit;
}
.noteEditor{
    height: 90%;
    overflow-y: auto;
}